html {
  font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
  background-color: #ffffff;
}

.navigation{
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

li a img{
  max-width: 20px;
  height: 20px;
}
